In [1]:
import pandas as pd
import numpy as np
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
# import eli5
import pickle

sns.set()
warnings.filterwarnings('ignore')

In [2]:
from sklearn.feature_selection import mutual_info_regression, SelectKBest, chi2
from sklearn.ensemble import ExtraTreesClassifier, RandomForestRegressor, RandomForestClassifier, StackingClassifier, GradientBoostingClassifier
from sklearn.preprocessing import StandardScaler, scale, MinMaxScaler
from sklearn.decomposition import PCA
# from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, mean_absolute_percentage_error, mean_squared_error, roc_auc_score, log_loss, precision_recall_fscore_support, mean_absolute_error
from sklearn.model_selection import train_test_split, cross_val_score, cross_validate, GridSearchCV, RandomizedSearchCV
from sklearn.metrics import accuracy_score,classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

from imblearn.over_sampling import RandomOverSampler, SMOTE
# from eli5.sklearn import PermutationImportance
from pprint import pprint

from xgboost import XGBRegressor, XGBClassifier

---

In [3]:
pd.set_option('display.max_columns', None)

---

**loading data + X, y split**

In [4]:
# from google.colab import drive
# drive.mount('/content/drive')
path_x1= 'X1.csv'

In [5]:
# path_x1="/content/X1.csv"
path_x2="X2.csv"
path_y1="Y1.csv"
path_y2="Y2.csv"

x1=pd.read_csv(path_x1)
y1=pd.read_csv(path_y1)
x2=pd.read_csv(path_x2)
y2=pd.read_csv(path_y2)

In [6]:
x1.drop('Unnamed: 0',inplace=True,axis=1)
x2.drop('Unnamed: 0',inplace=True,axis=1)
y1.drop('Unnamed: 0',inplace=True,axis=1)
y2.drop('Unnamed: 0',inplace=True,axis=1)

In [7]:
y1.head()

   LoanStatus
0           1
1           1
2           1
3           1
4           1

In [8]:
y2.head()

           EMI       ROI  EligibleLoanAmount
0  1489.150000  0.136442        11100.000000
1   825.275000  0.215686         7499.999999
2   132.500000  0.116998         6000.000001
3    12.719840  0.125492         8700.000001
4    66.637575  0.241102        19800.000000

In [9]:
y1_loan_status = y1['LoanStatus']
y2_EMI= y2['EMI']
y2_ROI= y2['ROI']
y2_EligibleLoanAmount= y2['EligibleLoanAmount']

In [10]:
x1.head()

,BorrowerAPR,CreditScoreRangeLower,CreditScoreRangeUpper,LP_CustomerPrincipalPayments,EstimatedReturn,LenderYield,LenderYield.1,LP_CustomerPayments,EstimatedLoss,BorrowerRate
0,0.313647,0.727273,0.727273,0.269286,0.622761,0.294527,0.294527,0.280029,0.247189,0.317588
1,0.546030,0.545455,0.545455,0.085743,0.622761,0.497512,0.497512,0.102911,0.247189,0.552764
2,0.284325,0.727273,0.727273,0.028571,0.622761,0.263682,0.263682,0.024911,0.247189,0.266332
3,0.342376,0.772727,0.772727,0.002533,0.550386,0.285572,0.285572,0.003394,0.131543,0.288442
4,0.694875,0.795455,0.795455,0.005993,0.658877,0.632239,0.632239,0.012860,0.443367,0.638593

In [11]:
x2.head()

,LP_CustomerPayments,𝐿𝑜𝑎𝑛𝐷𝑎𝑡𝑒𝑦𝑒𝑎𝑟,month,𝑀𝑎𝑡𝑢𝑟𝑖𝑡𝑦𝐷𝑎𝑡𝑂𝑟𝑖𝑔𝑖𝑛𝑎𝑙𝑦𝑒𝑎𝑟,𝑀𝑎𝑡𝑢𝑟𝑖𝑡𝑦𝐷𝑎𝑡𝑒𝑂𝑟𝑖𝑔𝑖𝑛𝑎𝑙𝑚𝑜𝑛𝑡ℎ,LP_CustomerPrincipalPayments,TradesNeverDelinquent (percentage),AvailableBankcardCredit,TotalInquiries,InterestAmount,TotalAmount,StatedMonthlyIncome,DebtToIncomeRatio,IncomeVerifiable,LoanOriginalAmount,BorrowerRate,LoanTenure
0,11396.1400,1970,1,2007,9,9425.00,0.810000,1500.0000,3.0,1489.150,10914.150,3083.333333,0.17,1,9425,0.1580,436
1,4186.6300,1970,1,2007,1,3001.00,0.857548,10761.7755,1.0,825.275,3826.275,2083.333333,0.06,1,3001,0.2750,444
2,1011.6500,1970,1,2007,10,1000.00,0.400000,2580.0000,5.0,132.500,1132.500,1666.666667,0.27,1,1000,0.1325,435
3,135.8174,1970,1,2014,1,88.64,1.000000,3626.0000,4.0,574.000,4574.000,2416.666667,0.18,1,4000,0.1435,528
4,521.1300,1970,1,2012,4,209.75,0.940000,178.0000,1.0,1270.800,5270.800,5500.000000,0.49,1,4000,0.3177,501

In [12]:
y2_EMI=y2_EMI.value_counts()
print(y2_EMI)
y2_EOI=y2_ROI.value_counts()
print(y2_ROI)
y2_EligibleLoanAmount=y2_EligibleLoanAmount.value_counts()
print(y2_EligibleLoanAmount)

0.000000       515
1270.800000    417
1279.600000     93
635.400000      82
600.000000      79
              ...
54.170214        1
1446.667775      1
830.998615       1
386.980264       1
659.750000       1
Name: EMI, Length: 28087, dtype: int64
0        0.136442
1        0.215686
2        0.116998
3        0.125492
4        0.241102
           ...
42353    0.097473
42354    0.114653
42355    0.172802
42356    0.224806
42357    0.208798
Name: ROI, Length: 42358, dtype: float64
18000.000000    1211
15000.000000    1137
12000.000000    1096
9000.000000     1025
13500.000000     880
                ...
34762.500000       1
11998.500000       1
11716.800000       1
6122.400001        1
4908.300001        1
Name: EligibleLoanAmount, Length: 7667, dtype: int64

---

**train, test split**

In [13]:
print(x1.shape)
print(y1.shape)

(57361, 10)
(57361, 1)

In [14]:
print(x2.shape)
print(y2.shape)

(42358, 17)
(42358, 3)

In [15]:
y2 = y2.fillna(0)

In [16]:
X_train1, X_test1, y_train, y_test = train_test_split(x1, y1, test_size=0.20, random_state=0)

yLoanstates_train = y_train
yLoanstates_test = y_test

X_train2, X_test2, y_train, y_test = train_test_split(x2, y2, test_size=0.20, random_state=0)


yEMI_train = y_train['EMI']
yROI_train = y_train['ROI']
yEligibleLoanAmount_train = y_train['EligibleLoanAmount']

yEMI_test = y_test['EMI']
yROI_test = y_test['ROI']
yEligibleLoanAmount_test = y_test['EligibleLoanAmount']

---

## data preprocessing

In [17]:
from imblearn.over_sampling import RandomOverSampler
from imblearn.over_sampling import SMOTE
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.pipeline import Pipeline

# Define the oversampling and scaling transformers
over = RandomOverSampler(random_state=0)
smote = SMOTE()
stdscaler = StandardScaler()
scaler = MinMaxScaler()


pca = PCA(n_components=2)

# Define the pipeline
steps=[("scaling",StandardScaler()),
      ("PCA",PCA(n_components=3)),
      ]
pipeline=Pipeline(steps)

---

## classification

**classifier learning**

In [39]:
X_test1

,BorrowerAPR,CreditScoreRangeLower,CreditScoreRangeUpper,LP_CustomerPrincipalPayments,EstimatedReturn,LenderYield,LenderYield.1,LP_CustomerPayments,EstimatedLoss,BorrowerRate
44454,0.156952,0.840909,0.840909,0.178571,0.513937,0.164179,0.164179,0.173932,0.029355,0.165829
16559,0.394080,0.704545,0.704545,0.007309,0.622761,0.404975,0.404975,0.009625,0.247189,0.398995
43181,0.575826,0.659091,0.659091,0.033389,0.622761,0.587065,0.587065,0.054574,0.247189,0.582915
4108,0.565505,0.704545,0.704545,0.033942,0.683962,0.512239,0.512239,0.059243,0.277209,0.517387
18042,0.530074,0.795455,0.795455,0.242857,0.700901,0.495323,0.495323,0.259795,0.232899,0.500302
...,...,...,...,...,...,...,...,...,...,...
33271,0.433961,0.772727,0.772727,0.428571,0.584177,0.400995,0.400995,0.383347,0.228469,0.405025
11078,0.575826,0.590909,0.590909,0.100169,0.622761,0.587065,0.587065,0.112009,0.247189,0.582915
36609,0.138939,0.863636,0.863636,0.071429,0.622761,0.159204,0.159204,0.068333,0.247189,0.140704
2988,0.230465,0.840909,0.840909,0.280000,0.543525,0.202985,0.202985,0.252748,0.044586,0.205025
37957,0.570093,0.818182,0.818182,0.285714,0.666166,0.509652,0.509652,0.338336,0.296594,0.514774

In [40]:
X_test1.columns

Index(['BorrowerAPR', 'CreditScoreRangeLower', 'CreditScoreRangeUpper',
       'LP_CustomerPrincipalPayments', 'EstimatedReturn', 'LenderYield',
       'LenderYield.1', 'LP_CustomerPayments', 'EstimatedLoss',
       'BorrowerRate'],
      dtype='object')

In [18]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.ensemble import GradientBoostingRegressor

In [19]:
xgb_regressor = xgb.XGBRegressor()
ls = Lasso(alpha=0.1)
lr = LinearRegression()

In [20]:
estimators = [('XGB', xgb_regressor)]
clf = StackingClassifier(estimators=estimators)

In [21]:
model_classifier = Pipeline([
    ('stdscaler', stdscaler),
    ('pca', pca),
    ('classifier', clf)
])

In [22]:
model_classifier.fit(X_train1, yLoanstates_train)
pred = model_classifier.predict(X_test1)
print('test accuracy = ', round(accuracy_score(yLoanstates_test, pred)*100, 2), '%')

test accuracy =  76.68 %

In [23]:
pickle.dump(model_classifier, open('model_classifier.pkl', 'wb'))

In [24]:
print(classification_report(yLoanstates_test, pred, digits=3))

              precision    recall  f1-score   support

           0      0.612     0.295     0.398      2998
           1      0.789     0.934     0.855      8475

    accuracy                          0.767     11473
   macro avg      0.700     0.614     0.627     11473
weighted avg      0.743     0.767     0.736     11473

**regression**

In [25]:
X_test2

,LP_CustomerPayments,𝐿𝑜𝑎𝑛𝐷𝑎𝑡𝑒𝑦𝑒𝑎𝑟,month,𝑀𝑎𝑡𝑢𝑟𝑖𝑡𝑦𝐷𝑎𝑡𝑂𝑟𝑖𝑔𝑖𝑛𝑎𝑙𝑦𝑒𝑎𝑟,𝑀𝑎𝑡𝑢𝑟𝑖𝑡𝑦𝐷𝑎𝑡𝑒𝑂𝑟𝑖𝑔𝑖𝑛𝑎𝑙𝑚𝑜𝑛𝑡ℎ,LP_CustomerPrincipalPayments,TradesNeverDelinquent (percentage),AvailableBankcardCredit,TotalInquiries,InterestAmount,TotalAmount,StatedMonthlyIncome,DebtToIncomeRatio,IncomeVerifiable,LoanOriginalAmount,BorrowerRate,LoanTenure
5679,1865.81,1970,1,2012,4,731.85,0.540000,0.0000,1.0,1270.8,5270.8,5416.666667,0.11,1,4000,0.3177,501
3151,15734.13,1970,1,2011,4,15000.00,1.000000,15991.0000,1.0,1785.0,16785.0,4583.333333,0.09,1,15000,0.1190,489
25838,8083.01,1970,1,2007,9,5669.55,0.440000,0.0000,9.0,1491.0,8591.0,3958.000000,0.16,1,7100,0.2100,436
10143,7568.86,1970,1,2007,9,6000.00,0.900000,1638.0000,16.0,1155.6,7155.6,6000.000000,0.14,1,6000,0.1926,436
23122,4921.12,1970,1,2012,1,1253.50,0.950000,6767.0000,11.0,2737.0,12737.0,3333.333333,0.33,1,10000,0.2737,504
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663,16424.62,1970,1,2011,1,15000.00,1.000000,42847.0000,2.0,898.5,15898.5,5833.333333,0.16,1,15000,0.0599,492
26840,15609.59,1970,1,2010,8,14500.00,0.830000,5471.0000,2.0,1856.0,16356.0,7000.000000,0.15,1,14500,0.1280,473
33404,3660.07,1970,1,2008,1,2999.99,1.000000,26420.0000,6.0,402.0,3402.0,5250.000000,0.28,1,3000,0.1340,456
30847,251.44,1970,1,2006,8,109.91,0.857548,10761.7755,11.0,435.0,1935.0,2800.000000,0.12,1,1500,0.2900,425
26178,1206.44,1970,1,2007,10,1200.00,0.720000,2351.0000,13.0,192.0,1392.0,3083.333333,0.26,1,1200,0.1600,435

In [26]:
X_test2.columns

Index(['LP_CustomerPayments', '𝐿𝑜𝑎𝑛𝐷𝑎𝑡𝑒𝑦𝑒𝑎𝑟', 'month',
       '𝑀𝑎𝑡𝑢𝑟𝑖𝑡𝑦𝐷𝑎𝑡𝑂𝑟𝑖𝑔𝑖𝑛𝑎𝑙𝑦𝑒𝑎𝑟', '𝑀𝑎𝑡𝑢𝑟𝑖𝑡𝑦𝐷𝑎𝑡𝑒𝑂𝑟𝑖𝑔𝑖𝑛𝑎𝑙𝑚𝑜𝑛𝑡ℎ',
       'LP_CustomerPrincipalPayments', 'TradesNeverDelinquent (percentage)',
       'AvailableBankcardCredit', 'TotalInquiries', 'InterestAmount',
       'TotalAmount', 'StatedMonthlyIncome', 'DebtToIncomeRatio',
       'IncomeVerifiable', 'LoanOriginalAmount', 'BorrowerRate', 'LoanTenure'],
      dtype='object')

In [27]:
from sklearn.ensemble import StackingRegressor
from sklearn.metrics import r2_score

In [28]:
#Buid Pipeline
estimators = [('Lasso', ls), ('linearRegression', lr)]
final_estimator = GradientBoostingRegressor()
clf = StackingRegressor(estimators=estimators, final_estimator=final_estimator)

model_regressor=Pipeline([
('stdscaler', stdscaler),
('classifier', clf)
])

EMI

In [29]:
EMI = model_regressor.fit(X_train2, yEMI_train)
pred = EMI.predict(X_test2)
print('test accuracy = ', round(r2_score(yEMI_test, pred)*100, 2), '%')

test accuracy =  96.3 %

In [30]:
pickle.dump(EMI, open('model_EMI.pkl', 'wb'))

ROI

In [31]:
ROI = model_regressor.fit(X_train2, yROI_train)
pred = ROI.predict(X_test2)
print('test accuracy = ', round(r2_score(yROI_test, pred)*100, 2), '%')

test accuracy =  99.95 %

In [32]:
pickle.dump(ROI, open('model_ROI.pkl', 'wb'))

ELA

In [33]:
ELA = model_regressor.fit(X_train2, yEligibleLoanAmount_train)
pred = ELA.predict(X_test2)
print('test accuracy = ', round(r2_score(yEligibleLoanAmount_test, pred)*100, 2), '%')

test accuracy =  99.32 %

In [34]:
pickle.dump(ELA, open('model_ELA.pkl', 'wb'))

---

## saving model

---

In [38]:
model_loaded = pickle.load(open('model_classifier.pkl','rb'))

In [35]:
# pickle.dump(EMI, open('model_EMI.pkl', 'wb'))
# pickle.dump(ROI, open('model_ROI.pkl', 'wb'))
# pickle.dump(ELA, open('model_ELA.pkl', 'wb'))

In [36]:
model_loaded = pickle.load(open('model_EMI.pkl','rb'))
model_loaded = pickle.load(open('model_ROI.pkl','rb'))
model_loaded = pickle.load(open('model_ELA.pkl','rb'))